go 1.23.5

use (
	consts
	models
	rpc
	services/agent
	services/gateway
	services/order
	services/payment
	services/product
	services/stock
	services/user
	utils
)

replace github.com/apache/thrift => github.com/apache/thrift v0.13.0
